* {
  font-family: 'Montserrat', sans-serif;
  background-color: #FAF6F1;
  padding: 0px;
  margin: 0px;
}

.navDekstop {
  display: none;
}

.navMenu {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  background: antiquewhite;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navMenuHide {
  display: none;
}

.navMenuItem {
  height: 30px;
}

.logo {
  width: 199px;
  height: 64px;
  margin-bottom: 25px;
  background: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form>.input {
  width: 176px;
  height: 30px;
  margin-bottom: 5.5px;
  margin-top: 5.5px;
  border-radius: 8px;
  border: solid 1px #C0BEBE;
  font-size: 11px;
  padding-left: 14px;
  color: #575353;
  outline-color: #575353;
  background-color: white;
}

.button {
  width: 190px;
  height: 36px;
  background-color: #34332F;
  color: #fff;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  margin-top: 5.5px;
}

.title-register-login {
  margin-top: 0px;
  margin-bottom: 11px;
  font-size: 20px;
  font-weight: 400;
}

#wrong-email {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 7px;
  color: red;
}

#verified-email {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 11px;
  color: red;
}

#wrong-password,
.error-default,
#invalid-email,
#invalid-password {
  font-size: 7px;
  color: red;
}

form>div>p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 7px;
}

.text-bottom {
  margin-top: 11px;
  font-size: 11px;
}

.img-networks {
  width: 26px;
  height: 26px;
  margin-top: 11px;
}

.links {
  color: #2029FE;
}

#min-password {
  color: #AF8462;
  font-size: 7px;
}

#register-section,
#login-section {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.div-contain>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Vista Welcome */

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./img/fondo-welcome.jpeg');
  background-size: cover;
  height: 100vh;
}

.div-contain {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-logo {
  background: transparent;
}

.div-logo>img {
  margin-bottom: 0px;
}

#div-text-welcome {
  top: 250px;
  background: transparent;
  width: 80%;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 23px;
  margin-bottom: 30px;
}

.div-btn {
  display: flex;
  flex-direction: column;
  background: transparent;
  bottom: 115px;
}

.div-btn>.button {
  margin-bottom: 11px;
}


/*Estos estilos son para la vista Publications*/

.div-nav {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  width: 85%;
  margin: 22px auto 10px auto;
  align-items: center;
}

#form-publication {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-title {
  height: 30px;
  border-radius: 8px;
  border: solid 1px #C0BEBE;
  font-size: 11px;
  padding-left: 14px;
  color: #575353;
  outline-color: #575353;
  background-color: white;
  width: 206px;
  margin-bottom: 11px;
}

#div-inputs-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-submit {
  background-color: #A64C38;
  width: 147px;
  color: white;
  font-size: 16px;
  padding-left: 0px;
}

#input-description {
  height: 50px;
  border-radius: 8px;
  border: solid 1px #C0BEBE;
  font-size: 11px;
  padding-top: 8px;
  padding-left: 14px;
  color: #575353;
  outline-color: #575353;
  background-color: white;
  width: 206px;
  margin-bottom: 11px;
}

.category-state {
  display: flex;
  flex-direction: row;
  width: 220px;
  padding: 0px;
}

#input-category {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-bottom: 11px;
  margin-left: 0px;
  margin-right: 20px;
  border: solid 1px #C0BEBE;
  font-size: 11px;
  padding-left: 14px;
  color: #575353;
  outline-color: #575353;
  background-color: white;
}

#input-state {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-bottom: 11px;
  margin-right: 0px;
  border: solid 1px #C0BEBE;
  font-size: 11px;
  padding-left: 14px;
  color: #575353;
  outline-color: #575353;
  background-color: white;
}

#div-considerations {
  font-size: 10px;
  margin-bottom: 11px;
  width: 208px;
  padding-left: 16px;
}

#div-considerations>p {
  font-size: 10px;
  margin-bottom: 6px;
}

#upload-image {
  width: 220px;
  height: 220px;
  border: 1px solid #C0BEBE;
  margin-bottom: 11px;
  border-radius: 8px;
}

.input-image {
  display: none;
}

.img-menu {
  width: 25px;
  height: 25px;
}

.btnBars {
  border: transparent;
}

#section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-photo-perfil {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #34332F;
}

.img-profile {
  width: 45px;
  height: 45px;
  border-radius: 23px;
  margin-right: 10px;
}

.div-contain {
  background: transparent;
}


/* Estilos para los posts */

.div-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section-post {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-bottom: 50px;
}

.div-category-post {
  display: flex;
  justify-content: flex-end;
}

.category-post {
  width: 90px;
  text-align: center;
  border-radius: 8px 8px 0px 0px;
  background: #34332F;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding-top: 2px;
}

.container-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px 0px 20px;
  box-shadow: 0px 20px 25px -10px rgb(0 0 0 / 50%);
}

.img-profile-post {
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 20px;
  margin-right: 11px;
}

.title-and-icons {
  width: 85%;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-and-icons>p {
  background-color: white;
}

.div-icons {
  background: white;
  display: flex;
}

.icon-contact-post {
  width: 30px;
  height: 28px;
  background: white;
  margin-right: 0px;
}

.div-img-post {
  background: white;
  width: 100%;
  max-width: 400px;
  height: 341px;
  overflow: hidden;
  position: relative;
}

.img-post {
  /* width: 250px;
  height: 250px;
  object-fit: contain;
  background: white; */
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}

.description-like-post {
  display: flex;
  background: white;
  width: 95%;
  max-width: 380px;
  border-radius: 21px;
  margin-top: 323px;
  position: absolute;
  padding: 11px;
}

.description-post {
  background: white;
  padding-right: 11px;
  padding-left: 11px;
}

.div-title {
  display: flex;
  background: white;
  align-items: center;
}

.div-title>p {
  background: white;
  font-size: 12px;
  font-weight: 600;
}

.description-post>p {
  font-size: 11px;
  background: white;
  text-align: justify;
}

.state-like-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.state-like-post>p {
  font-weight: 600;
  font-size: 11px;
  background: white;
}

.icon-like-post {
  margin-top: 11px;
  width: 25px;
  height: 25px;
  background: white;
}

@media (min-width: 700px) {
  #welcome-section {
    background: #FAF6F1;
  }
  .navResponsive {
    display: none;
  }
  .div-photo {
    background: url('./img/welcomePhoto.jpg');
    width: 40%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .div-contain {
    width: 60%;
  }
  #div-text-welcome {
    width: 60%;
    max-width: 252px;
    color: #34332F;
    font-size: 17px;
  }
  .div-logo {
    width: 240px;
    height: 80px;
    margin-bottom: 30px;
    background: url("./img/LETRAS1.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .logo {
    width: 0px;
    height: 0px;
  }
  .button {
    width: 240px;
    height: 40px;
    font-size: 18px;
  }
  #register-section {
    margin-top: 0px;
  }
  #div-photo-register {
    background: url("./img/register-photo.jpg");
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #logo-register {
    margin-top: 111px;
    margin-bottom: 20px;
  }
  .title-register-login {
    font-size: 22px;
  }
  .form>.input {
    width: 226px;
    height: 32px;
    font-size: 13px;
  }
  .section-publications {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #form-publication {
    width: 80%;
    max-width: 800px;
    height: 85%;
    max-height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .label-image {
    width: 50%;
    height: 50%;
  }
  #upload-image {
    width: 100%;
    height: 100%;
    border: 1px solid #C0BEBE;
    margin-bottom: 11px;
    border-radius: 8px;
  }
  .div-img-post {
    height: 390px;
  }
  .div-title>p {
    font-size: 14px;
  }
  .description-post>p {
    font-size: 13px;
  }
  .description-like-post {
    margin-top: 373px;
  }
  .state-like-post>p {
    font-size: 13px;
  }
  .category-post {
    width: 105px;
    font-size: 14px;
  }
  .text-bottom {
    font-size: 13px;
  }
  .img-networks {
    width: 30px;
    height: 30px;
  }
  #div-photo-login {
    background: url("./img/login-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #login-section {
    margin-top: 0px;
  }
  #login-section>.div-contain {
    margin-top: 35px;
  }
  #min-password {
    color: #AF8462;
    font-size: 9px;
  }
  form>div>p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 9px;
  }
  #wrong-email,
  #wrong-password,
  .error-default,
  #invalid-email,
  #invalid-password {
    font-size: 9px;
  }
}